<div
    class="flex min-w-0 flex-auto flex-col items-center sm:flex-row sm:justify-center md:items-start md:justify-start"
>
    <div
        class="w-full px-4 py-8 sm:bg-card sm:w-auto sm:rounded-2xl sm:p-12 sm:shadow md:flex md:h-full md:w-1/2 md:items-center md:justify-end md:rounded-none md:p-16 md:shadow-none"
    >
        <div class="mx-auto w-full max-w-80 sm:mx-0 sm:w-80">
            <!-- Title -->
            <div
                class="mt-8 text-4xl font-extrabold leading-tight tracking-tight"
            >
                Login
            </div>
            <div class="mt-0.5 flex items-baseline font-medium">
                <div>Don't have an account?</div>
                <a
                    class="ml-1 text-primary-500 hover:underline"
                    [routerLink]="['/register']"
                    >Register</a
                >
            </div>

            <angor-alert
                *ngIf="showSecAlert"
                class="mt-8"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="secAlert.type"
                [@shake]="secAlert.type === 'error'"
            >
                {{ secAlert.message }}
            </angor-alert>

            <div *ngIf="isInstalledExtension">
                <!-- Separator -->
                <div class="mt-8 flex items-center">
                    <div class="mt-px flex-auto border-t"></div>
                    <div class="text-secondary mx-2">Login with extension</div>
                    <div class="mt-px flex-auto border-t"></div>
                </div>

                <!-- extension login buttons -->
                <div class="mt-8 flex items-center space-x-4">
                    <button
                        class="flex-auto space-x-2"
                        type="button"
                        mat-stroked-button
                        (click)="loginWithNostrExtension()"
                    >
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'feather:zap'"
                        ></mat-icon>
                        <span>Login with Nostr Extension</span>
                    </button>
                </div>

                <div class="mt-8 flex items-center">
                    <div class="mt-px flex-auto border-t"></div>
                    <div class="text-secondary mx-2">Or</div>
                    <div class="mt-px flex-auto border-t"></div>
                </div>
            </div>

            <!-- Login form with Secret Key -->
            <form
                class="mt-8"
                [formGroup]="SecretKeyLoginForm"
                (ngSubmit)="loginWithSecretKey()"
            >
                <!-- secret key field -->
                <div class="mt-8 flex items-center">
                    <div class="mt-px flex-auto border-t"></div>
                    <div class="text-secondary mx-2">Enter secret key</div>
                    <div class="mt-px flex-auto border-t"></div>
                </div>
                <mat-form-field class="w-full">
                    <mat-label>Secret Key</mat-label>
                    <input
                        matInput
                        formControlName="secretKey"
                        autocomplete="secretKey"
                    />
                    @if (
                        SecretKeyLoginForm.get('secretKey').hasError('required')
                    ) {
                        <mat-error> Secret key is required </mat-error>
                    }
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>Password</mat-label>
                    <input
                        matInput
                        type="password"
                        [formControlName]="'password'"
                        autocomplete="current-password-seckey"
                        #secretPasswordField
                    />
                    <button
                        mat-icon-button
                        type="button"
                        (click)="
                            secretPasswordField.type === 'password'
                                ? (secretPasswordField.type = 'text')
                                : (secretPasswordField.type = 'password')
                        "
                        matSuffix
                    >
                        <mat-icon
                            *ngIf="secretPasswordField.type === 'password'"
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:eye'"
                        ></mat-icon>
                        <mat-icon
                            *ngIf="secretPasswordField.type === 'text'"
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:eye-slash'"
                        ></mat-icon>
                    </button>
                    <mat-error
                        *ngIf="
                            SecretKeyLoginForm.get('password').hasError(
                                'required'
                            )
                        "
                    >
                        Password is required
                    </mat-error>
                </mat-form-field>

                <!-- Submit button -->
                <button
                    class="angor-mat-button-large mt-6 w-full"
                    mat-flat-button
                    color="primary"
                    [disabled]="SecretKeyLoginForm.invalid"
                >
                    <span *ngIf="!loading">Login</span>
                    <mat-progress-spinner
                        *ngIf="loading"
                        diameter="24"
                        mode="indeterminate"
                    ></mat-progress-spinner>
                </button>
            </form>

            <div class="mt-8 flex items-center">
                <div class="mt-px flex-auto border-t"></div>
                <div class="text-secondary mx-2">Or enter menemonic</div>
                <div class="mt-px flex-auto border-t"></div>
            </div>

            <angor-alert
                *ngIf="showMenemonicAlert"
                class="mt-8"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="menemonicAlert.type"
                [@shake]="menemonicAlert.type === 'error'"
            >
                {{ menemonicAlert.message }}
            </angor-alert>
            <!-- Login form with Menemonic -->
            <form
                class="mt-8"
                [formGroup]="MenemonicLoginForm"
                (ngSubmit)="loginWithMenemonic()"
            >
                <!-- Menemonic field -->
                <mat-form-field class="w-full">
                    <mat-label>Menemonic</mat-label>
                    <input
                        matInput
                        formControlName="menemonic"
                        autocomplete="menemonic"
                    />
                    @if (
                        MenemonicLoginForm.get('menemonic').hasError('required')
                    ) {
                        <mat-error> Menemonic is required </mat-error>
                    }
                </mat-form-field>

                <!-- Passphrase field -->
                <mat-form-field class="w-full">
                    <mat-label>Passphrase (Optional)</mat-label>
                    <input
                        matInput
                        type="password"
                        [formControlName]="'passphrase'"
                        autocomplete="current-passphrase-menemonic"
                        #passphraseField
                    />
                    <button
                        mat-icon-button
                        type="button"
                        (click)="
                            passphraseField.type === 'password'
                                ? (passphraseField.type = 'text')
                                : (passphraseField.type = 'password')
                        "
                        matSuffix
                    >
                        <mat-icon
                            *ngIf="passphraseField.type === 'password'"
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:eye'"
                        ></mat-icon>
                        <mat-icon
                            *ngIf="passphraseField.type === 'text'"
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:eye-slash'"
                        ></mat-icon>
                    </button>
                    <mat-error
                        *ngIf="
                            MenemonicLoginForm.get('passphrase').hasError(
                                'required'
                            )
                        "
                    >
                        Passphrase is required
                    </mat-error>
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>Password</mat-label>
                    <input
                        matInput
                        type="password"
                        [formControlName]="'password'"
                        autocomplete="current-password-menemonic"
                        #menemonicPasswordField
                    />
                    <button
                        mat-icon-button
                        type="button"
                        (click)="
                            menemonicPasswordField.type === 'password'
                                ? (menemonicPasswordField.type = 'text')
                                : (menemonicPasswordField.type = 'password')
                        "
                        matSuffix
                    >
                        <mat-icon
                            *ngIf="menemonicPasswordField.type === 'password'"
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:eye'"
                        ></mat-icon>
                        <mat-icon
                            *ngIf="menemonicPasswordField.type === 'text'"
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:eye-slash'"
                        ></mat-icon>
                    </button>
                    <mat-error
                        *ngIf="
                            MenemonicLoginForm.get('password').hasError(
                                'required'
                            )
                        "
                    >
                        Password is required
                    </mat-error>
                </mat-form-field>

                <!-- Submit button -->
                <button
                    class="angor-mat-button-large mt-6 w-full"
                    mat-flat-button
                    color="primary"
                    [disabled]="MenemonicLoginForm.invalid"
                >
                    <span *ngIf="!loading">Login</span>
                    <mat-progress-spinner
                        *ngIf="loading"
                        diameter="24"
                        mode="indeterminate"
                    ></mat-progress-spinner>
                </button>
            </form>
        </div>
    </div>
    <div
        class="relative hidden h-full w-1/2 flex-auto items-center justify-center overflow-hidden bg-gray-800 p-16 dark:border-l md:flex lg:px-28"
    >
        <svg
            class="pointer-events-none absolute inset-0"
            viewBox="0 0 960 540"
            width="100%"
            height="100%"
            preserveAspectRatio="xMidYMax slice"
            xmlns="http://www.w3.org/2000/svg"
        >
            <g
                class="text-gray-700 opacity-25"
                fill="none"
                stroke="currentColor"
                stroke-width="100"
            >
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>

        <svg
            class="absolute -right-16 -top-16 text-gray-700"
            viewBox="0 0 220 192"
            width="220"
            height="192"
            fill="none"
        >
            <defs>
                <pattern
                    id="837c3e70-6c3a-44e6-8854-cc48c737b659"
                    x="0"
                    y="0"
                    width="20"
                    height="20"
                    patternUnits="userSpaceOnUse"
                >
                    <rect
                        x="0"
                        y="0"
                        width="4"
                        height="4"
                        fill="currentColor"
                    ></rect>
                </pattern>
            </defs>
            <rect
                width="220"
                height="192"
                fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"
            ></rect>
        </svg>
        <!-- Background and Content -->
        <div class="relative z-10 w-full max-w-2xl">
            <div class="text-7xl font-bold leading-none text-gray-100">
                <div>Angor Hub</div>
            </div>
            <div class="mt-6 text-lg leading-6 tracking-tight text-gray-400">
                Angor Hub is a Nostr client customized around the Angor
                protocol, a decentralized crowdfunding platform.
            </div>
        </div>
    </div>
</div>
