<div class="w-full max-w-3xl">
    <div class="text-xl">Change your network</div>
    <div class="text-secondary">
        Switch between Mainnet and Testnet to change your network settings.
    </div>
</div>

<div class="mt-8 grid w-full max-w-3xl gap-6 sm:grid-cols-2">
    <!-- Mainnet Card -->
    <div
        class="bg-card relative flex cursor-pointer flex-col items-start justify-start rounded-md p-6 shadow"
        [ngClass]="{
            'ring ring-inset ring-primary': selectedNetwork === 'mainnet',
        }"
        (click)="setNetwork('mainnet')"
    >
        <mat-icon
            *ngIf="selectedNetwork === 'mainnet'"
            class="absolute right-0 top-0 mr-3 mt-3 text-primary icon-size-7"
            [svgIcon]="'heroicons_solid:check-circle'"
        ></mat-icon>
        <div class="font-semibold">Mainnet</div>
        <div class="text-secondary mt-1 whitespace-normal">
            The live Bitcoin network.
        </div>
    </div>

    <!-- Testnet Card -->
    <div
        class="bg-card relative flex cursor-pointer flex-col items-start justify-start rounded-md p-6 shadow"
        [ngClass]="{
            'ring ring-inset ring-primary': selectedNetwork === 'testnet',
        }"
        (click)="setNetwork('testnet')"
    >
        <mat-icon
            *ngIf="selectedNetwork === 'testnet'"
            class="absolute right-0 top-0 mr-3 mt-3 text-primary icon-size-7"
            [svgIcon]="'heroicons_solid:check-circle'"
        ></mat-icon>
        <div class="font-semibold">Testnet</div>
        <div class="text-secondary mt-1 whitespace-normal">
            The Bitcoin testing network.
        </div>
    </div>
</div>

<!-- Divider -->
<div class="mb-10 mt-11 w-full max-w-3xl border-t"></div>

<!-- Actions -->
<div class="flex w-full max-w-3xl items-center justify-end">
    <button mat-stroked-button type="button" (click)="cancel()">Cancel</button>
    <button
        mat-flat-button
        class="ml-4"
        type="button"
        color="primary"
        (click)="save()"
    >
        Save
    </button>
</div>
