<h1 mat-dialog-title>Enter Password</h1>
<div mat-dialog-content>
    <form [formGroup]="passwordForm">
        <!-- Password Input -->
        <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
            <mat-label>Password</mat-label>
            <mat-icon matPrefix>lock</mat-icon>
            <input matInput [formControlName]="'password'" type="password" />
            <mat-error
                *ngIf="passwordForm.get('password').hasError('required')"
            >
                Password is required
            </mat-error>
        </mat-form-field>

        <!-- Duration Select -->
        <mat-form-field class="mt-5 w-full">
            <mat-label>Duration</mat-label>
            <mat-select formControlName="duration">
                <mat-option value="0">0 Minute</mat-option>
                <mat-option value="1">1 Minute</mat-option>
                <mat-option value="5">5 Minutes</mat-option>
                <mat-option value="10">10 Minutes</mat-option>
                <mat-option value="60">1 Hour</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button
        mat-raised-button
        color="primary"
        [disabled]="passwordForm.invalid"
        (click)="onSubmit()"
    >
        Submit
    </button>
</div>
