<div class="bg-card flex h-full flex-auto flex-col dark:bg-default">
    <!-- Header -->
    <div
        class="flex h-18 flex-0 items-center border-b bg-gray-50 px-4 dark:bg-transparent"
    >
        <button mat-icon-button (click)="drawer.close()">
            <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
        <div class="ml-2 text-lg font-medium">Contact info</div>
    </div>

    <div class="overflow-y-auto">
        <!-- Contact picture & info -->
        <div class="mt-8 flex flex-col items-center">
            <div class="h-40 w-40 rounded-full">
                @if (chat.contact?.picture) {
                    <img
                        class="h-full w-full rounded-full object-cover"
                        [src]="chat.contact?.picture"
                        onerror="this.onerror=null; this.src='/images/avatars/avatar-placeholder.png';"
                        [alt]="'Contact picture'"
                    />
                }
                @if (!chat.contact?.picture) {
                    <div
                        class="flex h-full w-full items-center justify-center rounded-full bg-gray-200 text-8xl font-semibold uppercase text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                    >
                        {{ chat.contact?.name.charAt(0) }}
                    </div>
                }
            </div>
            <div class="mt-4 text-lg font-medium">
                <a [routerLink]="['/profile', chat.contact?.pubKey]">
                    {{ chat.contact?.name }}
                </a>
            </div>
            <div class="text-secondary ml-4 mr-4 mt-0.5 text-md">
                {{ chat.contact?.about }}
            </div>
        </div>
    </div>
</div>
