<div class="flex h-full w-full flex-col items-center justify-center p-10">
    <div class="w-full max-w-3xl">
        <div class="prose prose-sm mx-auto max-w-none">
            <h1>Angor Hub</h1>
            <p>
                Angor Hub is a Nostr client that is customized around the Angor
                protocol, a decentralized crowdfunding platform. Leveraging the
                power of Nostr the platform allows you to explore projects that
                are raising funds using Angor, engage with investors, and
                connect directly with founders.
            </p>
            <p>
                Whether you're an investor looking for the next big opportunity
                or a project founder seeking funding, Angor Hub offers the tools
                you need to succeed. From project pages, secure messaging to
                group channels, Angor Hub ensures seamless interaction within a
                decentralized Nostr.
            </p>
        </div>
        <div>
            <a
                class="mt-8"
                mat-flat-button
                [color]="'primary'"
                [routerLink]="'/explore'"
            >
                <span>Explore Projects</span>
                <mat-icon
                    class="ml-2 icon-size-5"
                    [svgIcon]="'heroicons_mini:arrow-long-right'"
                ></mat-icon>
            </a>
        </div>
    </div>
</div>
