@import 'emoji.scss';

body {
    overflow-x: hidden;
}

.overscroll-y-contain {
    overflow: hidden !important;
}
.emoji-picker-container {
    position: absolute;
    bottom: 60px;
    left: 0;
    z-index: 100000;
}
input,
textarea,
select,
button {
    font-size: 16px;
}
