<angor-card
    class="flex w-full flex-col mb-8"
    #expandableComments="angorCard"
>
    <div class="mx-6 mb-4 mt-6 flex items-center sm:mx-8">
        <img
            class="mr-4 h-10 w-10 rounded-full object-cover"
            src="{{ post.picture || 'images/avatars/avatar-placeholder.png' }}"
            alt="Card cover image"
        />
        <div class="flex flex-col">
            <span class="font-semibold leading-none">{{
                username || '---'
            }}</span>
            <span class="text-secondary mt-1 text-sm leading-none">{{
                post.fromNow
            }}</span>
        </div>
        <button
            class="-mr-4 ml-auto"
            mat-icon-button
            [matMenuTriggerFor]="postCardMenu02"
        >
            <mat-icon
                class="icon-size-5"
                [svgIcon]="'heroicons_solid:ellipsis-vertical'"
            ></mat-icon>
        </button>
        <mat-menu #postCardMenu02="matMenu">
            <button mat-menu-item>
                <span class="flex items-center">
                    <mat-icon
                        class="mr-3 icon-size-5"
                        [svgIcon]="'heroicons_solid:arrow-up-tray'"
                    ></mat-icon>
                    <span>Save post</span>
                </span>
            </button>
            <button mat-menu-item>
                <span class="flex items-center">
                    <mat-icon
                        class="mr-3 icon-size-5"
                        [svgIcon]="'heroicons_solid:eye-slash'"
                    ></mat-icon>
                    <span>Hide post</span>
                </span>
            </button>
            <button mat-menu-item>
                <span class="flex items-center">
                    <mat-icon
                        class="mr-3 icon-size-5"
                        [svgIcon]="'heroicons_solid:clock'"
                    ></mat-icon>
                    <span>Snooze for 30 days</span>
                </span>
            </button>
            <button mat-menu-item>
                <span class="flex items-center">
                    <mat-icon
                        class="mr-3 icon-size-5"
                        [svgIcon]="'heroicons_solid:minus-circle'"
                    ></mat-icon>
                    <span>Hide all</span>
                </span>
            </button>
            <mat-divider class="my-2"></mat-divider>
            <button mat-menu-item>
                <span class="flex items-center">
                    <mat-icon
                        class="mr-3 icon-size-5"
                        [svgIcon]="'heroicons_solid:exclamation-triangle'"
                    ></mat-icon>
                    <span>Report post</span>
                </span>
            </button>
            <button mat-menu-item>
                <span class="flex items-center">
                    <mat-icon
                        class="mr-3 icon-size-5"
                        [svgIcon]="'heroicons_solid:bell'"
                    ></mat-icon>
                    <span>Turn on notifications for this post</span>
                </span>
            </button>
        </mat-menu>
    </div>
    <div class="mx-6 mb-6 mt-2 sm:mx-8">
        {{ post.content }}
    </div>
    <div class="relative mb-4">
        <!-- <img class="h-80 object-cover" src="images/cards/14-640x480.jpg" alt="Card cover image" /> -->
    </div>
    <div class="mx-3 flex items-center sm:mx-5">
        <button class="mr-1 px-3" mat-button (click)="toggleLike()">
            <mat-icon
                class="text-red-500 icon-size-5"
                [ngClass]="{ 'heart-beat': isLiked }"
                [svgIcon]="
                    isLiked
                        ? 'heroicons_solid:heart'
                        : 'heroicons_outline:heart'
                "
            >
            </mat-icon>
            <span class="ml-2">{{ isLiked ? 'Unlike' : 'Like' }}</span>
        </button>
        <button
            class="mr-1 px-3"
            mat-button
            (click)="expandableComments.expanded = !expandableComments.expanded"
        >
            <mat-icon
                class="icon-size-5"
                [svgIcon]="'heroicons_solid:chat-bubble-left-ellipsis'"
            ></mat-icon>
            <span class="ml-2">Comment</span>
        </button>
        <button class="mr-1 px-3" mat-button (click)="openConfirmationDialog()">
            <mat-icon
                class="icon-size-5"
                [svgIcon]="'heroicons_solid:share'"
            ></mat-icon>
            <span class="ml-2">Share</span>
        </button>
    </div>
    <hr class="mx-6 mb-6 mt-4 border-b sm:mx-8" />
    <div
        class="mx-6 mb-4 flex flex-col sm:mx-8 sm:mb-6 sm:flex-row sm:items-center"
    >
        <div class="flex items-center">
            <img
                class="text-card m-0.5 h-6 w-6 rounded-full ring-2 ring-white"
                src="images/avatars/avatar-placeholder.png"
                alt="Card cover image"
            />
            <img
                class="text-card m-0.5 -ml-3 h-6 w-6 rounded-full ring-2 ring-white"
                src="images/avatars/avatar-placeholder.png"
                alt="Card cover image"
            />
            <img
                class="text-card m-0.5 -ml-3 h-6 w-6 rounded-full ring-2 ring-white"
                src="images/avatars/avatar-placeholder.png"
                alt="Card cover image"
            />
            <img
                class="text-card m-0.5 -ml-3 h-6 w-6 rounded-full ring-2 ring-white"
                src="images/avatars/avatar-placeholder.png"
                alt="Card cover image"
            />
            <div class="ml-3 text-md tracking-tight">
                You and 24 more liked this
            </div>
        </div>
        <div class="hidden flex-auto sm:flex"></div>
        <div class="mt-4 flex items-center sm:mt-0">
            <button class="-ml-2 mr-1 px-3 sm:ml-0" mat-button>{{post.likeCount}} Like</button>
            <button
                class="px-3 sm:-mr-4"
                mat-button
                (click)="
                    expandableComments.expanded = !expandableComments.expanded
                "
            >
                <span class="mr-1">5 Comments</span>
                <mat-icon
                    class="rotate-0 transition-transform duration-150 ease-in-out icon-size-5"
                    [ngClass]="{
                        'rotate-180': expandableComments.expanded,
                    }"
                    [svgIcon]="'heroicons_mini:chevron-down'"
                ></mat-icon>
            </button>
        </div>
    </div>

    <ng-container angorCardExpansion>
        <hr class="m-0 border-b" />
        <div class="mx-4 mb-3 mt-6 flex flex-col sm:mx-8">
            <div class="flex items-start">
                <img
                    class="mr-5 h-12 w-12 rounded-full object-cover"
                    [src]="
                        user?.picture || 'images/avatars/avatar-placeholder.png'
                    "
                    onerror="this.onerror=null; this.src='/images/avatars/avatar-placeholder.png';"
                    alt="{{
                        user?.displayName ||
                            user?.display_name ||
                            user?.name ||
                            'Avatar'
                    }}"
                />

                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <textarea
                        matInput
                        [placeholder]="'Write a comment...'"
                        [rows]="3"
                        #commentInput
                        cdkTextareaAutosize
                    ></textarea>
                </mat-form-field>
            </div>
            <div class="mt-3 flex items-center justify-between">
                <div class="flex items-center">
                    <button
                        mat-icon-button
                        (click)="toggleCommentEmojiPicker1()"
                    >
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:face-smile'"
                        ></mat-icon>
                    </button>
                    <div
                        *ngIf="showCommentEmojiPicker"
                        class="emoji-picker-container-global"
                    >
                        <emoji-mart
                            (emojiClick)="addEmojiTocomment($event)"
                            [darkMode]="darkMode"
                        ></emoji-mart>
                    </div>
                    <button mat-icon-button>
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:photo'"
                        ></mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:sparkles'"
                        ></mat-icon>
                    </button>
                </div>
                <button class="mr-1 flex px-3" mat-button>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:paper-airplane'"
                    ></mat-icon>
                    <span class="ml-2">Send</span>
                </button>
            </div>
        </div>
        <hr class="mx-4 my-0 border-b sm:mx-8" />
        <div class="max-h-120 overflow-y-auto">
            <div class="relative mx-4 my-6 flex flex-col sm:mx-8">
                <div class="flex items-start">
                    <img
                        class="mr-4 h-8 w-8 rounded-full"
                        src="images/avatars/avatar-placeholder.png"
                        alt="Card cover image"
                    />
                    <div class="mt-0.5 flex flex-col">
                        <span>
                            <b>Rutherford Brannan</b> Oh, I’m in.. Let’s arrange
                            a trip for the next weekend if you want!
                        </span>
                        <div
                            class="text-secondary mt-2 flex items-center text-sm"
                        >
                            <span class="mr-2 cursor-pointer hover:underline"
                                >Like</span
                            >
                            <span class="mr-2 cursor-pointer hover:underline"
                                >Reply</span
                            >
                            <span class="mr-2 cursor-pointer hover:underline"
                                >Hide replies</span
                            >
                            <span class="mr-2">&bull;</span>
                            <span>17 min</span>
                        </div>
                    </div>
                </div>
                <div class="ml-12 mt-8 flex items-start">
                    <img
                        class="mr-4 h-8 w-8 rounded-full"
                        src="images/avatars/avatar-placeholder.png"
                        alt="Card cover image"
                    />
                    <div class="mt-0.5 flex flex-col">
                        <span>
                            <b>Caroline Lundu</b> Yes!! Let's talk about it on
                            lunch!
                        </span>
                        <div
                            class="text-secondary mt-2 flex items-center text-sm"
                        >
                            <span class="mr-2 cursor-pointer hover:underline"
                                >Like</span
                            >
                            <span class="mr-2 cursor-pointer hover:underline"
                                >Reply</span
                            >
                            <span class="mr-2">&bull;</span>
                            <span>15 min</span>
                        </div>
                    </div>
                </div>
                <div class="ml-12 mt-8 flex items-start">
                    <img
                        class="mr-4 h-8 w-8 rounded-full"
                        src="images/avatars/avatar-placeholder.png"
                        alt="Card cover image"
                    />
                    <div class="mt-0.5 flex flex-col">
                        <span> <b>Barbara Cotilla</b> Count me in !!! </span>
                        <div
                            class="text-secondary mt-2 flex items-center text-sm"
                        >
                            <span class="mr-2 cursor-pointer hover:underline"
                                >Like</span
                            >
                            <span class="mr-2 cursor-pointer hover:underline"
                                >Reply</span
                            >
                            <span class="mr-2">&bull;</span>
                            <span>12 min</span>
                        </div>
                    </div>
                </div>
                <div class="mt-8 flex items-start">
                    <img
                        class="mr-4 h-8 w-8 rounded-full"
                        src="images/avatars/avatar-placeholder.png"
                        alt="Card cover image"
                    />
                    <div class="mt-0.5 flex flex-col">
                        <span>
                            <b>Alan Marti</b> The color of the sky doesn’t look
                            natural at all, do you really think this is natural?
                            I’d say Photoshop! Your trip isn't going to worth it
                            since you won't be seeing this exact sky.
                        </span>
                        <div
                            class="text-secondary mt-2 flex items-center text-sm"
                        >
                            <span class="mr-2 cursor-pointer hover:underline"
                                >Like</span
                            >
                            <span class="mr-2 cursor-pointer hover:underline"
                                >Reply</span
                            >
                            <span class="mr-2 cursor-pointer hover:underline"
                                >Hide replies</span
                            >
                            <span class="mr-2">&bull;</span>
                            <span>24 min</span>
                        </div>
                    </div>
                </div>
                <div class="ml-12 mt-8 flex items-start">
                    <img
                        class="mr-4 h-8 w-8 rounded-full"
                        src="images/avatars/avatar-placeholder.png"
                        alt="Card cover image"
                    />
                    <div class="mt-0.5 flex flex-col">
                        <span>
                            <b>Caroline Lundu</b> Hey, Alan! You must be fun at
                            parties!
                        </span>
                        <div
                            class="text-secondary mt-2 flex items-center text-sm"
                        >
                            <span class="mr-2 cursor-pointer hover:underline"
                                >Like</span
                            >
                            <span class="mr-2 cursor-pointer hover:underline"
                                >Reply</span
                            >
                            <span class="mr-2">&bull;</span>
                            <span>22 min</span>
                        </div>
                    </div>
                </div>
                <div class="ml-12 mt-8 flex items-start">
                    <img
                        class="mr-4 h-8 w-8 rounded-full"
                        src="images/avatars/avatar-placeholder.png"
                        alt="Card cover image"
                    />
                    <div class="mt-0.5 flex flex-col">
                        <span>
                            <b>Alan Marti</b> Caroline, I'm telling the truth,
                            and if you cannot stand the truth, maybe we
                            shouldn't be friends anymore...
                        </span>
                        <div
                            class="text-secondary mt-2 flex items-center text-sm"
                        >
                            <span class="mr-2 cursor-pointer hover:underline"
                                >Like</span
                            >
                            <span class="mr-2 cursor-pointer hover:underline"
                                >Reply</span
                            >
                            <span class="mr-2">&bull;</span>
                            <span>20 min</span>
                        </div>
                    </div>
                </div>
                <div class="ml-12 mt-8 flex items-start">
                    <img
                        class="mr-4 h-8 w-8 rounded-full"
                        src="images/avatars/avatar-placeholder.png"
                        alt="Card cover image"
                    />
                    <div class="mt-0.5 flex flex-col">
                        <span>
                            <b>Caroline Lundu</b> Dude! Relax! I'm just messing
                            with you...
                        </span>
                        <div
                            class="text-secondary mt-2 flex items-center text-sm"
                        >
                            <span class="mr-2 cursor-pointer hover:underline"
                                >Like</span
                            >
                            <span class="mr-2 cursor-pointer hover:underline"
                                >Reply</span
                            >
                            <span class="mr-2">&bull;</span>
                            <span>18 min</span>
                        </div>
                    </div>
                </div>
                <div class="ml-12 mt-8 flex items-start">
                    <img
                        class="mr-4 h-8 w-8 rounded-full"
                        src="images/avatars/avatar-placeholder.png"
                        alt="Card cover image"
                    />
                    <div class="mt-0.5 flex flex-col">
                        <span>
                            <b>Alan Marti</b> Sorry! I had a bad morning, let's
                            talk about this in couple hours, I need to relax a
                            bit :(
                        </span>
                        <div
                            class="text-secondary mt-2 flex items-center text-sm"
                        >
                            <span class="mr-2 cursor-pointer hover:underline"
                                >Like</span
                            >
                            <span class="mr-2 cursor-pointer hover:underline"
                                >Reply</span
                            >
                            <span class="mr-2">&bull;</span>
                            <span>16 min</span>
                        </div>
                    </div>
                </div>
                <div class="mt-8 flex items-start">
                    <img
                        class="mr-4 h-8 w-8 rounded-full"
                        src="images/avatars/avatar-placeholder.png"
                        alt="Card cover image"
                    />
                    <div class="mt-0.5 flex flex-col">
                        <span>
                            <b>Marleah Eagleston</b> Count me in, too!
                        </span>
                        <div
                            class="text-secondary mt-2 flex items-center text-sm"
                        >
                            <span class="mr-2 cursor-pointer hover:underline"
                                >Like</span
                            >
                            <span class="mr-2 cursor-pointer hover:underline"
                                >Reply</span
                            >
                            <span class="mr-2">&bull;</span>
                            <span>34 min</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</angor-card>
