<button mat-icon-button [matMenuTriggerFor]="userActions">
    <span class="relative">
        <ng-container *ngIf="metadata?.picture; else defaultAvatar">
            <img
                class="h-7 w-7 rounded-full object-cover"
                [src]="getSafeUrl(metadata?.picture)"
                alt=""
                onerror="this.onerror=null; this.src='/images/avatars/avatar-placeholder.png';"
            />
        </ng-container>
        <ng-template #defaultAvatar>
            <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
        </ng-template>
    </span>
</button>

<mat-menu [xPosition]="'before'" #userActions="matMenu">
    <button mat-menu-item>
        <span class="flex flex-col leading-none">
            <span>Logged in as</span>
            <span class="mt-1.5 text-md font-medium">{{
                metadata?.display_name || metadata?.name || 'Unknown User'
            }}</span>
        </span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item (click)="profile()">
        <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
        <span>Profile</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="settingsMenu">
        <mat-icon [svgIcon]="'heroicons_outline:cog-8-tooth'"></mat-icon>
        <span>Settings</span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item (click)="logout()">
        <mat-icon
            [svgIcon]="'heroicons_outline:arrow-right-on-rectangle'"
        ></mat-icon>
        <span>logout</span>
    </button>
</mat-menu>

<!-- Settings Menu -->
<mat-menu #settingsMenu="matMenu">
    <!-- Theme Selection -->
    <button mat-menu-item (click)="setScheme('auto')">
        <mat-icon [svgIcon]="'heroicons_solid:bolt'"></mat-icon>
        <span>Auto Theme</span>
    </button>
    <button mat-menu-item (click)="setScheme('light')">
        <mat-icon [svgIcon]="'heroicons_solid:sun'"></mat-icon>
        <span>Light Theme</span>
    </button>
    <button mat-menu-item (click)="setScheme('dark')">
        <mat-icon [svgIcon]="'heroicons_solid:moon'"></mat-icon>
        <span>Dark Theme</span>
    </button>

    <mat-divider></mat-divider>

    <!-- Layout Selection -->
    <button mat-menu-item (click)="setLayout('classic')">
        <span>Classic Layout</span>
    </button>
    <button mat-menu-item (click)="setLayout('modern')">
        <span>Modern Layout</span>
    </button>
</mat-menu>
