
<div *ngIf="!loading" class="emoji-picker">
  <input
  class="emoji-search-bar"
  type="text"
  placeholder="Search emojis..."
  [(ngModel)]="emojiSearch"
  (ngModelChange)="onSearchChange($event)"
/>


  <cdk-virtual-scroll-viewport itemSize="50" class="emoji-scroll-viewport">
    <div *cdkVirtualFor="let category of filteredEmojiCategories | keyvalue">
      <h3>{{ category.key }}</h3>
      <div class="emoji-category">
        <div class="emoji-container">
          <span
            *ngFor="let emoji of category.value"
            class="emoji"
            (click)="selectEmoji(emoji.emoji)">
            {{ emoji.emoji }}
          </span>
        </div>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
